.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
    .post > .post-header {
        display: grid;
        grid-template-columns: 50px 1fr 30px;
        gap: 15px;
    }
        .post > .post-header > .avatar {
            width: 100%;
        }